<%= div_for comment, class: "media" , data: { id: comment.id } do %>
  <% if !comment.user.nil? %>
  <span>
    <h4>
      <% if room_owner?(comment) %>
        <small><%= comment.user.name %>♛ says:</small>
      <% else %>
        <small><%= comment.user.name %> says:</small>
      <% end %>
      <small class="pull-right" ><%= comment.created_at.strftime("%H:%M") %></small>

    </h4>
  </span>
  <div class="well well-sm">
    <small><%= image_tag comment.user.avatar.url(:thumb) %></small>
    <small><%= comment.content %></small>
  </div>
  <% end %>
<% end %>