<% if !comment.user.nil? && !comment.new_record? %>
  <%= div_for comment, class: "media" , data: { id: comment.id } do %>
    <div class="comment-area">
      <%= image_tag comment.user.avatar.url %>
        <% if room_owners_comment?(comment) %>
          <%= comment.user.name %>♛ says:
        <% else %>
          <%= comment.user.name %> says:
        <% end %>
        
        <span class="pull-right">
          <% if current_user == comment.user %>
            <%= link_to "", room_comment_path(@room, comment),class: "glyphicon glyphicon-remove-sign" , method: :delete, remote: true %>
          <% end %>
          <%= comment.created_at.strftime("%H:%M") %>
        </span>

      
      <p><%= comment.content %></p>
    </div>
  <% end %>
<% end %>