<%= div_for comment, class: "media" , data: { id: comment.id } do %>
  <% if !comment.user.nil? %>
  <span>
    
  </span>
  <div class="comment-area">
    <%= image_tag comment.user.avatar.url(:mini) %>
      <% if room_owners_comment?(comment) %>
        <%= comment.user.name %>♛ says:
      <% else %>
        <%= comment.user.name %> says:
      <% end %>
      
      <span class="pull-right"> <%= comment.created_at.strftime("%H:%M") %></span>

    
    <p><%= comment.content %></p>
  </div>
  <% end %>
<% end %>