<header class="navbar navbar-top navbar-inverse">
  <div class="container">
    <%= link_to "ChatRooomz", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="orange-links">
              <li><%= link_to "Edit info", edit_user_path(current_user) %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
          <li>
           <div id = "menu-image" > <%= image_tag current_user.avatar.url(:thumb) %></div>
           </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>